extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/qAndADisplay.css")
  link(rel="stylesheet" href="/stylesheets/sidebar.css")
  link(rel="stylesheet" href="/stylesheets/navbar.css")
  script(src="/javascripts/voteEvents.js" type="module" defer)

block content
  div(class='q-and-a-page-wrapper')
    include navbar
    include sidebar
    div(class='question-and-answer-wrapper')
      div(class='question-div')
        div(class='specific-question-wrapper')
          div(class='question-and-buttons')
            p(class='specific-question')=cocktailq.question
            if(user && user.id === cocktailq.userId)
              div(class='edit-and-delete-btns')
                form(class='fakebtn' method='post' action=`/CocktailQs/${cocktailq.id}/delete`)
                  input(type='hidden' name='_csrf' value=csrfToken)
                  button(class='change-btn' type='submit') Delete
                a(class= 'edit-and-delete-btns' href=`/CocktailQs/${cocktailq.id}/edit`)
                  button(class='change-btn') Edit
          a(href=`/CocktailQs/new` class="btn-anchor")
            button(class='btn') Post A Cocktail-Q
      div(class='answers-wrapper') 
        each cocktailA in cocktailq.CocktailAs
          div(class='answer-div')
            p(class='answer-p')=cocktailA.answer
            div(class='lower-answer-wrapper')
              div(class='votes-wrapper')
                div(class='upvote-div')
                  img(src="https://user-images.githubusercontent.com/74081636/110870195-fbbce580-8299-11eb-87c8-3cc27983ff5f.jpeg", alt="Upvote" class='upvote vote-icons' id=`${cocktailA.id}/upvote`)
                div(class='vote-display-div')
                  div(id=`vote-${cocktailA.id}` class='vote-display')=votes[cocktailA.id]
                div(class='downvote-div')
                  img(src="https://user-images.githubusercontent.com/74081636/110870508-90bfde80-829a-11eb-8e96-e4f277ea245a.jpeg", alt="Downvote" class='downvote vote-icons' id=`${cocktailA.id}/downvote`)
              div(class='created-at-wrapper')
                p(class='created-at') Posted At: #{cocktailA.createdAt}
                p(class='created-by') Posted By: #{cocktailA.User.userName}
            if(user && user.id === cocktailA.userId)
              div(class='btn-div')
                form(class='fakebtn' method='post' action=`/CocktailQs/${cocktailq.id}/CocktailAs/${cocktailA.id}/delete`)
                  input(type='hidden' name='_csrf' value=csrfToken)
                  button(class='change-btn', type='submit') Delete
                a(class='fakebtn', href=`/CocktailQs/${cocktailq.id}/CocktailAs/${cocktailA.id}`)
                  button(class='change-btn', type='submit') Edit
        div(class='back-and-post')
          div(class='btn-div1')
            a(href=`/CocktailQs/${cocktailq.id}/CocktailAs`)
              button(class='btn') Post A Cocktail-A
          div(class='btn-div1')
            a(href='/CocktailQs')
              button(class='btn') Back
