extends layout

block content
  div(class='question-and-answer-wrapper')
    div(class='question-div')
      p=cocktailq.question
        if(user && user.id === cocktailq.userId)
          button(class='btn') Delete
          a(class='fakebtn', href=`/CocktailQs/${cocktailq.id}/edit`)
            button(class='btn') Edit
    div(class='answers-wrapper')
      each cocktailA in cocktailq.CocktailAs
        div(class='answer-div')
          p=cocktailA.answer
            if(user && user.id === cocktailA.userId)
              button(class='btn') Delete
              a(class='fakebtn', href=`/CocktailQs/${cocktailq.id}/CocktailAs/${cocktailA.id}`) Edit
    div
      a(href='/CocktailQs')
        button(class='btn') Back
    div
      a(href=`/CocktailQs/${cocktailq.id}/CocktailAs`)
        button(class='btn') Add Cocktail-A
